body {
  
  font-family: helvetica, arial, sans-erif;
  margin: 2em;
  
}

h1 {
  
  font-family: italic;
  color: black;
  
}

#map {
  height: 700px;
  width: 100%;
}

/* Pan To Current Location  */
.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}

.custom-map-control-button:hover {
  background: #ebebeb;
}